#header-panel {
    margin: 20px auto auto auto;
    width: 900px;
    height: 50px;
    background-color: #f8f8f8;
    color: #4f5f2b;
    position: relative;
    border: 1px solid #cccccc;
}

#footer-text-message {
    position: absolute;
    left: 10px;
}

.subtitle {
    color: #4f5f2b;
}

#footer-panel {
    margin: 0px auto auto auto;
    width: 900px;
    height: 30px;
    background-color: #f8f8f8;
    color: #4f5f2b;
    position: relative;
    border: 1px solid #cccccc;
    clear: both;
}

.form-element {
    text-align: left;
    padding:10px 0px 0px 10px;
}

.field-width {
    width: 50%;
}

.padded-button {
    margin: 10px auto 10px auto;
}

.small-form-element {
     width: 13%;
     text-align: left;
     margin: 10px;
 }

#privacy-policy-link {
    position: absolute;
    left: 10px;
}

#logout-link {
    position: absolute;
    right: 10px;
}

.left-list-item {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

#main-panel {
    margin: 0px auto auto auto;
    width: 900px;
    height: 500px;
    background: -webkit-linear-gradient(left bottom, #FFFDEB 25%, #E7F8EA, #c9e3d9 75%, #FBFCF4);
    text-align:center;
}


#person-list {
    width: 350px;
    cursor: pointer; cursor: hand;
}
#person-list-element {
    color: #5555ee;

}
#person-list-element:hover { text-decoration: underline; }

#main-panel-button {
}

.tree {
    width: 400px;
    height: 400px;
}

.header-text {
    position: absolute;
    margin: 0px 0px 0px 10px;
    font-size:36px;
}

#sign-in-button {
    position: absolute;
    bottom: 7px;
    right: 7px;
}

#footer-text {
    padding-top: 4px;
    margin-left: 10px;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #4f5f2b;
    stroke-width: 2px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #7f8f5b;
    stroke-width: 2px;
}

#header-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
}

 span.twitter-typeahead .tt-dropdown-menu {
     position: absolute;
     top: 100%;
     left: 0;
     z-index: 1000;
     display: none;
     float: left;
     min-width: 160px;
     padding: 5px 0;
     margin: 2px 0 0;
     list-style: none;
     font-size: 14px;
     text-align: left;
     background-color: #ffffff;
     border: 1px solid #cccccc;
     border: 1px solid rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
     background-clip: padding-box;
     cursor: pointer; cursor: hand;
 }
span.twitter-typeahead .tt-suggestion > p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    cursor: pointer; cursor: hand;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #35ca3e;
    cursor: pointer; cursor: hand;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
    color: #ffffff;
    background-color: #35ca3e;
    cursor: pointer; cursor: hand;
}
span.twitter-typeahead {
    width: 100%;
    cursor: pointer; cursor: hand;
}
.input-group span.twitter-typeahead {
    display: block !important;
    cursor: pointer; cursor: hand;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
    cursor: pointer; cursor: hand;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 44px !important;
    cursor: pointer; cursor: hand;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 28px !important;
    cursor: pointer; cursor: hand;
}