#header-panel {
    margin: 20px auto auto auto;
    width: 900px;
    height: 50px;
    background-color: #f8f8f8;
    color: #4f5f2b;
    position: relative;
    border: 1px solid #cccccc;
}

#footer-text-message {
    position: absolute;
    left: 10px;
}

.subtitle {
    color: #4f5f2b;
}

#footer-panel {
    margin: 0px auto auto auto;
    width: 900px;
    height: 30px;
    background-color: #f8f8f8;
    color: #4f5f2b;
    position: relative;
    border: 1px solid #cccccc;
    clear: both;
}

.form-element {
    text-align: left;
    padding:10px 0px 0px 10px;
}

.field-width {
    width: 50%;
}

.padded-button {
    margin: 10px auto 10px auto;
}

.small-form-element {
     width: 13%;
     text-align: left;
     margin: 10px;
 }

#privacy-policy-link {
    position: absolute;
    left: 10px;
}

#logout-link {
    position: absolute;
    right: 10px;
}

.left-list-item {
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

#main-panel {
    margin: 0px auto auto auto;
    width: 900px;
    height: 500px;
    background: -webkit-linear-gradient(left bottom, #FFFDEB 25%, #E7F8EA, #c9e3d9 75%, #FBFCF4);
    text-align:center;
}

#main-panel-button {
}

.tree {
    width: 400px;
    height: 400px;
}

.header-text {
    position: absolute;
    margin: 0px 0px 0px 10px;
    font-size:36px;
}

#sign-in-button {
    position: absolute;
    bottom: 7px;
    right: 7px;
}

#footer-text {
    padding-top: 4px;
    margin-left: 10px;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #4f5f2b;
    stroke-width: 2px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #7f8f5b;
    stroke-width: 2px;
}

#header-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
}