#header-panel {
    margin: 20px auto auto auto;
    width: 400px;
    height: 50px;
    background-color: #f8f8f8;
    color: #4f5f2b;
    position: relative;
    border: 1px solid #cccccc;
}

#footer-panel {
    margin: 0px auto auto auto;
    width: 100%;
    height: 30px;
    background-color: #f8f8f8;
    color: #4f5f2b;
    position: relative;
    border: 1px solid #cccccc;
    text-align: center;
}

.left-list-item {
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

body {
    background: -webkit-linear-gradient(left bottom, #FFFDEB 25%, #E7F8EA, #c9e3d9 75%, #FBFCF4);
}

#main-panel {
    margin: 0px auto auto auto;
    padding: 10px;
    width: 100%;
    height: 450px;
    text-align:center;
    background: 0;
}

#main-panel-button {
}

.tree {
    width: 400px;
    height: 400px;
}

.header-text {
    position: absolute;
    margin: 0px 0px 0px 10px;
    font-size:36px;
}

#sign-in-button {
    position: absolute;
    bottom: 7px;
    right: 7px;
}

#footer-text {
    padding-top: 4px;
}