#header-panel-right {
    margin: 20px auto auto auto;
    width: 600px;
    height: 50px;
    background-color: #DDD;
    text-align:right;
}

#header-panel {
    margin: 20px auto auto auto;
    width: 600px;
    height: 50px;
    background-color: #DDD;
    text-align: center;
}

#main-panel {
    margin: 0px auto auto auto;
    width: 600px;
    height: 450px;
    background-color: #DDD;
    text-align:center;
}

#main-panel-button {
}

.tree {
    width: 400px;
    height: 400px;
}

.header-text {
    margin: 20px 0px 0px 0px;font-size:36px
}

#sign-in-button {
    margin: -15px 10px 0px 130px;
}