#header-panel-right {
    margin: 20px auto auto auto;
    width: 600px;
    height: 50px;
    background-color: #4f5f2b;
    text-align:right;
    color: #F0F0F0;
}

#header-panel {
    margin: 20px auto auto auto;
    width: 600px;
    height: 50px;
    background-color: #4f5f2b;
    text-align: center;
    color: #F0F0F0;
}

#footer-panel {
    margin: 0px auto auto auto;
    width: 600px;
    height: 30px;
    background-color: #4f5f2b;
    text-align: center;
    color: #F0F0F0;
}

.left-list-item {
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

#main-panel {
    margin: 0px auto auto auto;
    width: 600px;
    height: 450px;
    background: -webkit-linear-gradient(left bottom, #FFFDEB 25%, #E7F8EA, #c9e3d9 75%, #FBFCF4);
    text-align:center;
}

#main-panel-button {
}

.tree {
    width: 400px;
    height: 400px;
}

.header-text {
    margin: 20px 0px 0px 0px;font-size:36px
}

#sign-in-button {
    margin: -15px 10px 0px 130px;
}