@(title: String, peopleSet: List[Person], numPeople: Int, json:String)
<!DOCTYPE html>
<html>
<head>
    <title>GenusTree</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="all and (max-width: 600px)" href="@routes.Assets.at("stylesheets/main-small.css")">
    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/d3.min.js")" type="text/javascript"></script>
    <script>
        $(function() {
            $('.list-group-item').click(function (e) {
            })
            var fill = d3.scale.category20();

            d3.layout.cloud().size([300, 300])
                    .words([
                        {text:".NET",size:5},{text:"Cameron",size:9},{text:"try",size:2},{text:"David",size:5},
                        {text:"juice",size:20},{text:"puppies",size:3},{text:"jimmy",size:3},{text:"Grace",size:5}].map(function(d) {
                                return {text: d.text, size: d.size * 5};
                            }))
                    .rotate(function() { return ~~(Math.random() * 2) * 90; })
                    .font("Impact")
                    .fontSize(function(d) {
                        return d.size;
                    })
                    .on("end", draw)
                    .start();

            function draw(words) {
                d3.select("body").append("svg")
                        .attr("width", 300)
                        .attr("height", 300)
                        .append("g")
                        .attr("transform", "translate(150,150)")
                        .selectAll("text")
                        .data(words)
                        .enter().append("text")
                        .style("font-size", function(d) { return d.size + "px"; })
                        .style("font-family", "Impact")
                        .style("fill", function(d, i) { return fill(i); })
                        .attr("text-anchor", "middle")
                        .attr("transform", function(d) {
                            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                        })
                        .text(function(d) { return d.text; });
            }
        });
    </script>
</head>
    <body>
        <div id='header-panel'>
            <span class='header-text'>GenusTree @title</span><img id='header-logo' src="@routes.Assets.at("images/tree.gif")"/>
        </div>
        <div id='main-panel'>
            @import java.math.BigInteger; var i=0
            @if(numPeople == 0) {
                No @title were found.
            }
            <ul id='person-list' class="list-group" style="float:left">
                @for((p) <- peopleSet) {
                    @(i+=1)
                    <li class="list-group-item left-list-item" style='margin-left:10px;margin-right:10px;' href="@p.link">@i @p.name @p.altName</li>
                }
            </ul>
        </div>
        <div id='footer-panel'>
            <div id='footer-text'><a href="/privacyPolicy">Privacy Policy</a><a id='logout-link' href="/">Logout</a></div>
        </div>
        <script>

                        var margin = {top: 20, right: 120, bottom: 20, left: 120},
                                        width = 630 - margin.right - margin.left,
                    height = (@numPeople * 16)+50 - margin.top - margin.bottom;

            var i = 0,
                    duration = 750,
                    root;

            var tree = d3.layout.tree()
                    .size([height, width]);

            var diagonal = d3.svg.diagonal()
                    .projection(function(d) { return [d.y, d.x]; });

            var svg = d3.select("#main-panel").append("svg")
                    .attr("width", width + margin.right + margin.left)
                    .attr("height", height + margin.top + margin.bottom)
                    .attr("style","float:left")
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            root = @Html(json);
            root.x0 = height / 2;
            root.y0 = 0;

            function collapse(d) {
                if (d.children) {
                    d._children = d.children;
                    d._children.forEach(collapse);
                    d.children = null;
                }
            }

            // root.children.forEach(collapse);
            update(root);

            d3.select(self.frameElement).style("height", "100px");

            function update(source) {

                // Compute the new tree layout.
                var nodes = tree.nodes(root).reverse(),
                        links = tree.links(nodes);

                // Normalize for fixed-depth.
                nodes.forEach(function(d) { d.y = d.depth * 180; });

                // Update the nodes…
                var node = svg.selectAll("g.node")
                        .data(nodes, function(d) { return d.id || (d.id = ++i); });

                // Enter any new nodes at the parent's previous position.
                var nodeEnter = node.enter().append("g")
                        .attr("class", "node")
                        .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
                        .on("click", click);

                nodeEnter.append("circle")
                        .attr("r", 1e-6)
                        .style("fill", function(d) {
                            return "#ffffff";
                        });

                nodeEnter.append("text")
                        .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
                        .attr("dy", ".35em")
                        .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
                        .text(function(d) { return d.name; })
                        .style("fill", function (d) {
                            var retcolor;
                            if (d.highlight)
                                retcolor = "rgb(11, 163, 29)";
                             else
                                retcolor = "#000";
                            return retcolor;
                        })
                        .style("fill-opacity", 1e-6);

                // Transition nodes to their new position.
                var nodeUpdate = node.transition()
                        .duration(duration)
                        .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

                nodeUpdate.select("circle")
                        .attr("r", 4.5)
                        .style("fill", function(d) {
                            ret = "#FFFFFF";
                            if (d._children)
                                ret = "green";
                            else if (d.name.indexOf("&")>=0)
                                ret = "#ffffff";
                            else if (d.gender=="Female")
                                ret = "#FF66CC";
                            else if (d.gender=="Male")
                                ret = "#0066FF";

                            return ret;
                        });

                nodeUpdate.select("text")
                        .style("fill-opacity", 1);

                // Transition exiting nodes to the parent's new position.
                var nodeExit = node.exit().transition()
                        .duration(duration)
                        .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
                        .remove();

                nodeExit.select("circle")
                        .attr("r", 1e-6);

                nodeExit.select("text")
                        .style("fill-opacity", 1e-6);

                // Update the links…
                var link = svg.selectAll("path.link")
                        .data(links, function(d) { return d.target.id; });

                // Enter any new links at the parent's previous position.
                link.enter().insert("path", "g")
                        .attr("class", "link")
                        .attr("d", function(d) {
                            var o = {x: source.x0, y: source.y0};
                            return diagonal({source: o, target: o});
                        });

                // Transition links to their new position.
                link.transition()
                        .duration(duration)
                        .attr("d", diagonal);

                // Transition exiting nodes to the parent's new position.
                link.exit().transition()
                        .duration(duration)
                        .attr("d", function(d) {
                            var o = {x: source.x, y: source.y};
                            return diagonal({source: o, target: o});
                        })
                        .remove();

                // Stash the old positions for transition.
                nodes.forEach(function(d) {
                    d.x0 = d.x;
                    d.y0 = d.y;
                });
            }

            // Toggle children on click.
            function click(d) {
                if (d.children) {
                    d._children = d.children;
                    d.children = null;
                } else {
                    d.children = d._children;
                    d._children = null;
                }
                update(d);
            }

            var ulHeight = $('ul').height();
            var svgHeight = $('svg').height();
            $('#main-panel').height(ulHeight+svgHeight);

        </script>

    </body>
</html>
