@(duplicates: List[(Person, Person)])
<!DOCTYPE html>
<html>
<head>
    <title>GenusTree</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="all and (max-width: 600px)" href="@routes.Assets.at("stylesheets/main-small.css")">
    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/d3.min.js")" type="text/javascript"></script>
</head>
    <body>
        <div id='header-panel'>
            <span class='header-text'>GenusTree Duplicates</span><img id='header-logo' src="@routes.Assets.at("images/tree.gif")"/>
        </div>
        <div id='main-panel'>
            @import java.math.BigInteger; var i=0
            @if(duplicates.size == 0) {
                No duplicates were found.
                <br>
                GenusTree tries to find duplicates based on two people having the same name, and their respective parents having the same name.
            }
            <ul id='person-list' class="list-group" style="float:left;width:270px;">
                @for((p1,p2) <- duplicates) {
                    @(i+=1)
                    <li class="list-group-item left-list-item" style='margin-left:10px;margin-right:10px;'>@i <a href="@p1.link">@p1.name @p1.pid</a> & <a href="@p2.link">@p2.name @p2.pid</a></li>
                }
            </ul>
        </div>
        <div id='footer-panel'>
            <div id='footer-text'><a href="/privacyPolicy">Privacy Policy</a><a id='logout-link' href="/">Logout</a></div>
        </div>
    </body>
    @analytics()
</html>
