@(token: String, personId: String)
<!DOCTYPE html>
<html>
    <head>
        <title>GenusTree</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="@routes.Assets.at("stylesheets/main-small.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <script>
            $(function () {
               $('#duplicate-button').click(function() {
                   $('.progress').show();
                   $('#duplicate-button').attr("disabled","disabled");
                   $('#duplicate-form').submit();
               })
            });
        </script>
    </head>
    <body>
        <div id='header-panel'>
            <span class='header-text'>GenusTree Name Cloud Setup</span><img id='header-logo' src="@routes.Assets.at("images/tree.gif")"/>
        </div>
        <div id='main-panel'>
            <div class="progress" style='display:none;'>
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <div>
            <form id='duplicate-form' action='/findDuplicates' method='POST'>
                <input type='hidden' name='token' value='@token'/>
                <input type='hidden' class="form-control" name='pid' value='@personId'/>
                <div class="form-element">
                    <input type='button' id='duplicate-button' class="btn btn-success" value='Search'/>
                </div>
            </form>
            </div>
        </div>
        <div id='footer-panel'>
            <div id='footer-text'><a href="/privacyPolicy">Privacy Policy</a><a id='logout-link' href="/">Logout</a></div>
        </div>
    </body>
    @analytics()
</html>
