@(duplicates: List[(Person, Person)])

            @import java.math.BigInteger; var i=0
            @if(duplicates.size == 0) {
                No duplicates were found.
                <br>
            }
            GenusTree tries to find duplicates based on two people having the same name within the last five generations.
            <ul id='person-list' class="list-group" style="float:left;width:300px;">
                @for((p1,p2) <- duplicates) {
                    <script>
                    var people = [
                    {name: "@p1.name", birth: "@p1.birthYear", death: "@p1.deathYear"},
                    {name: "@p2.name", birth: "@p2.birthYear", death: "@p2.deathYear"}

                    ];
                    addDuplicate(people, "#74c274");

                    </script>
                    @(i+=1)
                    <li class="list-group-item left-list-item" style='margin-left:10px;margin-right:10px;'>
                        @i <a href="@p1.link" target="_blank">@p1.name @p1.pid (@p1.birthYear-@p1.deathYear)</a>
                    <br>&nbsp;&<a href="@p2.link" target="_blank">@p2.name @p2.pid (@p2.birthYear-@p2.deathYear)</a></li>
                }
            </ul>

