@(token: String)
<!DOCTYPE html>
<html>
    <head>
        <title>GenusTree</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <form action='/getParents' method='GET'>
            <input type='textbox' name='token' value='@token'/>
            <input type='textbox' name='pid' value='KWWN-99C'/>
            <input type='submit'/>
        </form>
    </body>
</html>
