<!DOCTYPE html>

<html>
    <head>
        <title>GenusTree</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="all and (max-width: 600px)" href="@routes.Assets.at("stylesheets/main-small.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    </head>
    <script>
        $(function() {
            $('#sign-in-button').click(function() {
                $('#sign-in-form').submit();
                });
        });
    </script>
    <body>
        <div id='wrapper'>
           <form id='sign-in-form' action='https://sandbox.familysearch.org/cis-web/oauth2/v3/authorization' method='POST'>
                <div id='header-panel'>
                    <div class='header-text'>GenusTree</div><span id='sign-in-button' class='btn btn-success' style='background-color:#28a301'>Sign In</span>
                </div>
                <div id='main-panel'>
                    <img src="@routes.Assets.at("images/tree.gif")" class='tree'>
                    <input type='hidden' name='response_type' value='code'/>
                    <input type='hidden' name='redirect_uri' value='@play.Play.application().configuration().getString("familysearch.callback.url")'/>
                    <input type='hidden' name='client_id' value='@play.Play.application().configuration().getString("familysearch.developer.id")'/>
                    <h4 class='subtitle'>more ways to see your family tree</h4>
                </div>
                <div id='footer-panel'>
                    <div id='footer-text'><a id='privacy-policy-link' href="/privacyPolicy">Privacy Policy</a><a id='logout-link' href="/">Logout</a></div>
                </div>
            </form>
        </div>
    </body>
</html>
