@(json: String)
<div>
        <script>
            var map;
            var json = @Html(json);

            var cache = {};
            var outstanding = 0;
            var completed = 0;
            function isFloat(n) {
            return n === +n && n !== (n|0);
            }

            $(function () {
                var myLatlng = new google.maps.LatLng(40, -111);
                var mapOptions = {
                    zoom: 2,
                    center: myLatlng
                }
                map = new google.maps.Map(document.getElementById("map"), mapOptions);
                $('#map' ).css('height','700px');
                $('#map' ).css('width','820px');
                var n=0;

            json.forEach(function(path) {
            path.forEach ( function ( person ) {
            if ( ! isFloat ( person.lat ) ) {
            outstanding ++ ;
            }
            } ) ;
            });
                var whits=0;
                var chits=0;

            json.forEach(function(path) {
                    path.forEach(function(person) {
                        var delayinc = 200;
                        setTimeout ( function ( ) {
                            if ( ! isFloat ( person.lat ) ) {

                                var latlon = cache[ person.place ] ;
                                 if ( latlon === undefined ) {

                                    var jqxhr = $.get ( "https://maps.googleapis.com/maps/api/geocode/json?sensor=false&address=" + person.place, function ( data ) {
                                        completed ++ ;
                                        whits++;
                                        //console.log("req ok: "+whits+ " "+ person.place);
                                        try {
                                        person.lat = data.results[ 0 ].geometry.location.lat ;
                                        person.lon = data.results[ 0 ].geometry.location.lng ;
                                        } catch(e) {
                                            console.log(e);
                                        }
                                        cache[ person.place ] = { lat : person.lat, lon : person.lon } ;

                                    } )

                                    .fail ( function ( ) {
                                        person.lat = "" ;
                                        person.lon = "" ;
                                        completed ++ ;
                                    } ) ;
                                 }
                                else
                                {
                                    chits++;
                                    //console.log("cache ok: "+ chits+" " + person.place);
                                    person.lat = latlon.lat;
                                    person.lon = latlon.lon;
                                    completed++;
                                    delayinc = 0;
                                }
                            }
                        }, n ) ;
                        n += delayinc; ;
                        if (n>2000) n = 200;


                    });
            });
                  setTimeout(check, 1000);
        });
            function check() {
                if (outstanding > completed)
                    setTimeout ( check, 1000 ) ;
                else
                    draw ( ) ;
            }
            function draw() {
            //     var colors=['#F9CDAD','#C8C8A9','#83AF9B','#556270','#C7F464','CornflowerBlue', 'Crimson', 'DarkOrange', 'DarkOrchid', 'DarkTurquoise', 'Fuchsia', 'Gold', 'HotPink', 'LightSeaGreen', 'SteelBlue'];
            var colors = [
            '#ba1389',
            '#1389ba',
            '#e46e1a',
            '#f90000',//	(249,0,0)
            '#f7f503',//	(247,245,3)
            '#0095fc',//	(0,149,252)
            '#c987b9',//	(201,135,185)
            '#784c88',//	(120,76,136)
            '#e7c265',//	(231,194,101)
            '#eef091',//	(238,240,145)
            '#ad4a4a',//	(173,74,74)
            '#00a4ff',//	(0,164,255)
            '#0016ff',//	(0,22,255)
            '#ff00b6',//	(255,0,182)
            '#ad0000',
            '#ffaa41',//	(255,170,65)
            '#ea4d4d',//	(234,77,77)
            '#71ceea',//	(113,206,234)
            '#48316b',//	(72,49,107)
            '#ce83cb',//	(206,131,203)
            '#ba1389',
            '#1389ba',
            '#e46e1a',
            '#f90000',//	(249,0,0)
            '#f7f503',//	(247,245,3)
            '#0095fc',//	(0,149,252)
            '#c987b9',//	(201,135,185)
            '#784c88',//	(120,76,136)
            '#e7c265',//	(231,194,101)
            '#eef091',//	(238,240,145)
            '#ad4a4a',//	(173,74,74)
            '#00a4ff',//	(0,164,255)
            '#0016ff',//	(0,22,255)
            '#ff00b6',//	(255,0,182)
            '#ad0000',
            '#ffaa41',//	(255,170,65)
            '#ea4d4d',//	(234,77,77)
            '#71ceea',//	(113,206,234)
            '#48316b',//	(72,49,107)
            '#ce83cb',//	(206,131,203)
            '#ba1389',
            '#1389ba',
            '#e46e1a',
            '#f90000',//	(249,0,0)
            '#f7f503',//	(247,245,3)
            '#0095fc',//	(0,149,252)
            '#c987b9',//	(201,135,185)
            '#784c88',//	(120,76,136)
            '#e7c265',//	(231,194,101)
            '#eef091',//	(238,240,145)
            '#ad4a4a',//	(173,74,74)
            '#00a4ff',//	(0,164,255)
            '#0016ff',//	(0,22,255)
            '#ff00b6',//	(255,0,182)
            '#ad0000',
            '#ffaa41',//	(255,170,65)
            '#ea4d4d',//	(234,77,77)
            '#71ceea',//	(113,206,234)
            '#48316b',//	(72,49,107)
            '#ce83cb',//	(206,131,203)
            '#ba1389',
            '#1389ba',
            '#e46e1a',
            '#f90000',//	(249,0,0)
            '#f7f503',//	(247,245,3)
            '#0095fc',//	(0,149,252)
            '#c987b9',//	(201,135,185)
            '#784c88',//	(120,76,136)
            '#e7c265',//	(231,194,101)
            '#eef091',//	(238,240,145)
            '#ad4a4a',//	(173,74,74)
            '#00a4ff',//	(0,164,255)
            '#0016ff',//	(0,22,255)
            '#ff00b6',//	(255,0,182)
            '#ad0000',
            '#ffaa41',//	(255,170,65)
            '#ea4d4d',//	(234,77,77)
            '#71ceea',//	(113,206,234)
            '#48316b',//	(72,49,107)
            '#ce83cb'//	(206,131,203)
            ];
            var i=0;
            json.forEach(function (e) {


            var flightPlanCoordinates = [];
                var n=0;
            e.forEach(function (g) {
                // Try to get lat lon
                    //what now? how to get lat/lons all in a list
                    // do if for all lat lons before each flight plan???
                if ( isFloat( g.lat) && isFloat( g.lon)) {
                flightPlanCoordinates.push ( new google.maps.LatLng ( g.lat, g.lon ) ) ;

                var myLatlng = new google.maps.LatLng ( g.lat, g.lon ) ;
                var marker = new google.maps.Marker ( {
                    position : myLatlng,
                    map : map,
                    icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|28a301'

                } ) ;
                marker.setMap ( map ) ;


                var point = new google.maps.LatLng(40, -20);
                var data = ( g.name + " @@ " + g.place.split("%20").join(" ") );
                var infowindow = new google.maps.InfoWindow({
                    content: data
                });
                google.maps.event.addListener(marker, 'mouseover', function() {
                    infowindow.open(map,marker);
                });
                google.maps.event.addListener(marker, 'mouseout', function() {
                    infowindow.close();
                });

                google.maps.event.addListener ( marker, 'click', function ( ) {

                window.open ( g.link ) ;

                } ) ;
                }
            });

            var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: colors[i],
            strokeOpacity: 1.0,
            strokeWeight: 2
            });
            i++;
            flightPath.setMap(map);
            });

            }
        </script>


        <div id="map" ></div>

</div>