@(json: String)
        <script>
            var map;
            $(function () {
            var myLatlng = new google.maps.LatLng(40, -111);
            var mapOptions = {
            zoom: 2,
            center: myLatlng
            }
            map = new google.maps.Map(document.getElementById("map"), mapOptions);
$('#map' ).css('height','700px');
            $('#map' ).css('width','820px');
                setTimeout(draw(),1);
        });
            function draw() {
            var json = @Html(json);
            //     var colors=['#F9CDAD','#C8C8A9','#83AF9B','#556270','#C7F464','CornflowerBlue', 'Crimson', 'DarkOrange', 'DarkOrchid', 'DarkTurquoise', 'Fuchsia', 'Gold', 'HotPink', 'LightSeaGreen', 'SteelBlue'];
            var colors = [
            '#ba1389',
            '#1389ba',
            '#e46e1a',
            '#f90000',//	(249,0,0)
            '#f7f503',//	(247,245,3)
            '#0095fc',//	(0,149,252)
            '#c987b9',//	(201,135,185)
            '#784c88',//	(120,76,136)
            '#e7c265',//	(231,194,101)
            '#eef091',//	(238,240,145)
            '#ad4a4a',//	(173,74,74)
            '#00a4ff',//	(0,164,255)
            '#0016ff',//	(0,22,255)
            '#ff00b6',//	(255,0,182)
            '#ad0000',
            '#ffaa41',//	(255,170,65)
            '#ea4d4d',//	(234,77,77)
            '#71ceea',//	(113,206,234)
            '#48316b',//	(72,49,107)
            '#ce83cb',//	(206,131,203)
            '#ba1389',
            '#1389ba',
            '#e46e1a',
            '#f90000',//	(249,0,0)
            '#f7f503',//	(247,245,3)
            '#0095fc',//	(0,149,252)
            '#c987b9',//	(201,135,185)
            '#784c88',//	(120,76,136)
            '#e7c265',//	(231,194,101)
            '#eef091',//	(238,240,145)
            '#ad4a4a',//	(173,74,74)
            '#00a4ff',//	(0,164,255)
            '#0016ff',//	(0,22,255)
            '#ff00b6',//	(255,0,182)
            '#ad0000',
            '#ffaa41',//	(255,170,65)
            '#ea4d4d',//	(234,77,77)
            '#71ceea',//	(113,206,234)
            '#48316b',//	(72,49,107)
            '#ce83cb',//	(206,131,203)
            '#ba1389',
            '#1389ba',
            '#e46e1a',
            '#f90000',//	(249,0,0)
            '#f7f503',//	(247,245,3)
            '#0095fc',//	(0,149,252)
            '#c987b9',//	(201,135,185)
            '#784c88',//	(120,76,136)
            '#e7c265',//	(231,194,101)
            '#eef091',//	(238,240,145)
            '#ad4a4a',//	(173,74,74)
            '#00a4ff',//	(0,164,255)
            '#0016ff',//	(0,22,255)
            '#ff00b6',//	(255,0,182)
            '#ad0000',
            '#ffaa41',//	(255,170,65)
            '#ea4d4d',//	(234,77,77)
            '#71ceea',//	(113,206,234)
            '#48316b',//	(72,49,107)
            '#ce83cb',//	(206,131,203)
            '#ba1389',
            '#1389ba',
            '#e46e1a',
            '#f90000',//	(249,0,0)
            '#f7f503',//	(247,245,3)
            '#0095fc',//	(0,149,252)
            '#c987b9',//	(201,135,185)
            '#784c88',//	(120,76,136)
            '#e7c265',//	(231,194,101)
            '#eef091',//	(238,240,145)
            '#ad4a4a',//	(173,74,74)
            '#00a4ff',//	(0,164,255)
            '#0016ff',//	(0,22,255)
            '#ff00b6',//	(255,0,182)
            '#ad0000',
            '#ffaa41',//	(255,170,65)
            '#ea4d4d',//	(234,77,77)
            '#71ceea',//	(113,206,234)
            '#48316b',//	(72,49,107)
            '#ce83cb'//	(206,131,203)
            ];
            var i=0;
            json.forEach(function (e) {


            var flightPlanCoordinates = [];
            e.forEach(function (g) {
            flightPlanCoordinates.push(new google.maps.LatLng(g.lat, g.lon));

            var myLatlng = new google.maps.LatLng(g.lat,g.lon);
            var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title:(g.name + " " + g.place)

            });
            marker.setMap(map);
            google.maps.event.addListener(marker, 'click', function() {

            window.open(g.link);

            });
            });

            var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: colors[i],
            strokeOpacity: 1.0,
            strokeWeight: 2
            });
            i++;
            flightPath.setMap(map);
            });

            }
        </script>


        <div id="map" ></div>

