@(token: String, personId: String, json: String)
<!DOCTYPE html>
<html>
    <head>
        <title>GenusTree</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="@routes.Assets.at("stylesheets/main-small.css")">
        <script>                var nameList=@Html(json);
        </script>
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/typeahead.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/forms.js")"></script>
        <script src="@routes.Assets.at("javascripts/duplicates.js")"></script>
        <script src="@routes.Assets.at("javascripts/d3.min.js")"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script>
    function submitInPlaceForm(what, timeToEnableButton) {
        $("#page").removeAttr("style");
        $('input[type="button"]').prop('disabled', true);
        $('.progress' ).show();
        $.ajax({
            data: $(what).serialize(),
            type: $(what).attr('method'),
            url: $(what).attr('action'),
            success: function(response) {
                $('#page').html(response);
                setTimeout(function () { $('input[type="button"]').prop('disabled', false); $('.progress' ).hide();},timeToEnableButton);
            }
        });
        return false;
    }

    $(function () {
                initAutoComplete();

                $('#changeUser-button').click(function () {
                    $('#changeUser-form' ).submit();
                });
                $('#changeUserLink' ).click(function() {
                    hideAll();
                    $('#changeUserForm' ).show('slow');
                });

                $('#generation-button').click(function () {
                    $("#generation-nameList" ).val(JSON.stringify(nameList));
                    $('#generation-form').submit(function() {
                        return submitInPlaceForm(this, 4000);
                    });
                    $('#generation-form' ).submit();
                });
                $('#generationLink' ).click(function() {
                    hideAll();
                    $('#generationForm' ).show('slow');
                });

                $('#nameCloud-button').click(function () {
                    $("#nameCloud-nameList" ).val(JSON.stringify(nameList));
                    $('#nameCloud-form').submit(function() {
                        return submitInPlaceForm(this, 5000);
                    });
                    $('#nameCloud-form' ).submit();
                });
                $('#nameCloudLink' ).click(function() {
                    hideAll();
                    $('#nameCloudForm' ).show('slow');
                });

                $('#findDuplicates-button').click(function () {
                    $("#findDuplicates-nameList" ).val(JSON.stringify(nameList));
                    $('#findDuplicates-form' ).submit(function() {
                        return submitInPlaceForm(this, 1000);
                    });
                    $('#findDuplicates-form' ).submit();
                });
                $('#findDuplicatesLink' ).click(function() {
                    hideAll();
                    $('#findDuplicatesForm' ).show('slow');
                });

                $('#mapAncestors-button').click(function () {
                    $("#mapAncestors-nameList" ).val(JSON.stringify(nameList));
                    $('#mapAncestors-form' ).submit(function() {
                        return submitInPlaceForm(this, 4000);
                    });
                    $('#mapAncestors-form' ).submit();
                });
                $('#mapAncestorsLink' ).click(function() {
                    hideAll();
                    $('#mapAncestorsForm' ).show('slow');
                });

                hideAll();
                $('[data-toggle="tooltip"]').tooltip();
            });

            function hideAll() {
                $('#changeUserForm' ).hide('fast');
                $('#generationForm' ).hide('fast');
                $('#mapAncestorsForm' ).hide('fast');
                $('#findDuplicatesForm' ).hide('fast');
                $('#nameCloudForm' ).hide('fast');
            }
        </script>
    </head>
    <body>
        <div id='header-panel'>
            <span class='header-text'>GenusTree</span><img id='header-logo' src="@routes.Assets.at("images/tree.png")"/>
        </div>
        <div id='main-panel'>
            <div class="progress" style='display:none;'>
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <div id="page">
                <h3 style="padding:90px;">Please use the menu on the left to show visualizations.</h3>
            </div>
            <div>
            <div class="main-menu-item" data-toggle="tooltip" data-placement="right" title="See a word cloud of the most used names in your family tree">
                <div id="nameCloudLink" class="link">Name Cloud</div><img class='main-menu-image' src='@routes.Assets.at("images/MenuNameCloud.png")'>
                <div id="nameCloudForm">
                    @setupNameCloud(token, personId)
                </div>
            </div>
            <div class="main-menu-item" data-toggle="tooltip" data-placement="right" title="Look for duplicate entries in your family tree">
                <div id="findDuplicatesLink" class="link">Find Duplicates</div><img class='main-menu-image' src='@routes.Assets.at("images/MenuDuplicatesList.png")'>
                <div id="findDuplicatesForm">
                    @setupFindDuplicates(token, personId)
                </div>
            </div>
            <div class="main-menu-item" data-toggle="tooltip" data-placement="right" title="See a map of where your ancestors came from">
                <div id="mapAncestorsLink" class="link">Map Ancestors</div><img class='main-menu-image' src='@routes.Assets.at("images/MenuMapAncestors.png")'>
                <div id="mapAncestorsForm">
                    @setupMapAncestors(token, personId)
                </div>
            </div>
            <div class="main-menu-item" data-toggle="tooltip" data-placement="right" title="See all cousins, or aunts & uncles at the same time">
                <div id="generationLink" class="link">Find Generation</div><img class='main-menu-image' src='@routes.Assets.at("images/MenuRelativeList.png")'>
                <div id="generationForm">
                @setupGeneration(token, personId)
                </div>
            </div>
            <div class="main-menu-item" data-toggle="tooltip" data-placement="right" title="Choose who to base all visualizations on">
                <div id="changeUserLink" class="link">Change User</div>
                <div id="changeUserForm">
                @autocompleteform(personId, token)
                </div>
            </div>
            </div>
        </div>
        @footer()
    </body>
    @analytics()
</html>
