@(json: String, sortedPartToNamesMap: List[(String, List[Person])], font: String, colorScheme: ColorScheme, token: String)
<!DOCTYPE html>
<html>
<head>
    <title>GenusTree</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="all and (max-width: 600px)" href="@routes.Assets.at("stylesheets/main-small.css")">
    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/d3.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/nametree.js")"></script>
</head>
    <body>
        <div id='header-panel'>
            <span class='header-text'>GenusTree Name Cloud</span><img id='header-logo' src="@routes.Assets.at("images/tree.gif")"/>
        </div>
        <div id='main-panel' style="background:0">
            <canvas id="canvas" height="500px" width="550px"></canvas>
            <ul id='person-list' class="list-group" style="float:left">
                <li class="list-group-item left-list-item"><h3>Name Frequency List</h3></li>
                @for((k,v) <- sortedPartToNamesMap) {
                <li class="list-group-item left-list-item">@k
                        @for((p) <- v) {
                        <br>&nbsp;&nbsp;<a href="@p.link">@p.name</a>
                        }
                </li>
                }
            </ul>
        </div>
        <div id='footer-panel'>
            <div id='footer-text'><a href="/privacyPolicy">Privacy Policy</a><a id='logout-link' href="/">Logout</a></div>
        </div>
    </body>
    <script>
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    var width = $('#canvas').attr('width').replace('px','');
    var height = $('#canvas').attr('height').replace('px','');
    $('main-panel').css('background',0);
    context.rect(0,0,width,height);
    context.fillStyle="@colorScheme.backgroundColor";
    context.fill();
    setTimeout(function() {
        drawTree(@Html(json), '@font', @Html(colorScheme.foregroundColors), '@Html(colorScheme.backgroundColor)', @Html(colorScheme.colorFun))
    },10);
    </script>
    @analytics()
</html>
