@(json: String, sortedPartToNamesMap: List[(String, List[Person])], font: String, colorScheme: ColorScheme, token: String)
 <script src="@routes.Assets.at("javascripts/nametree.js")"></script>
            <canvas id="canvas" height="500px" width="550px" style="position:absolute;left:20px;"></canvas>
            <ul class="sidebar-name-list">
                <li class="list-group-item"><h3>Name Frequency List</h3></li>
                @for((k,v) <- sortedPartToNamesMap) {
                <li class="list-group-item">@k
                        @for((p) <- v) {
                        <br>&nbsp;&nbsp;<a href="@p.link" target="_blank">@p.name</a>
                        }
                </li>
                }
            </ul>
    <script>
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    var width = $('#canvas').attr('width').replace('px','');
    var height = $('#canvas').attr('height').replace('px','');
    $('main-panel').css('background',0);
    context.rect(0,0,width,height);
    context.fillStyle="@colorScheme.backgroundColor";
    context.fill();
    setTimeout(function() {
        drawTree(@Html(json), '@font', @Html(colorScheme.foregroundColors), '@Html(colorScheme.backgroundColor)', @Html(colorScheme.colorFun))
    },10);
    </script>
    <br style="clear:both;">
