@(token: String, personId: String, nameList: String)
<!DOCTYPE html>
<html>
    <head>
        @includes()
        <script>
            var nameList = @Html(nameList);
            $(function () {
                initAutoComplete();
                $('#submit-button').click(function () {
                    $("#nameList" ).val(JSON.stringify(nameList));
                    submitForm();
                });
            });
        </script>
    </head>
    <body>
        <div id='header-panel'>
            <span class='header-text'>GenusTree Search</span><img id='header-logo' src="@routes.Assets.at("images/tree.gif")"/>
        </div>
        <div id='main-panel'>
            <div class="progress" >
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <form id='main-form' action='/getCousins' method='POST'>
                <div class="form-element field-width">
                    Choose what to search for:
                    <select id="action" class="form-control">
                        <option value="/getCousins" selected="selected">Cousins</option>
                        <option value="/getAuntsUncles">Aunts & Uncles</option>
                    </select>
                </div>
                <input type="hidden" name="nameList" id="nameList"/>
                <input type='hidden' name='token' value='@token'/>
                @autocompleteform(personId)
                <div class="form-element">
                    <input type='button' id='submit-button' class="btn btn-success" value='Search!'/>
                </div>
            </form>
            <br>
        </div>
        <div id='footer-panel'>
            <div id='footer-text'><a href="/privacyPolicy">Privacy Policy</a><a id='logout-link' href="/">Logout</a></div>
        </div>
    </body>
    @analytics()
</html>
