@(token: String, personId: String, nameList: String)
<!DOCTYPE html>
<html>
    <head>
        <title>GenusTree</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="@routes.Assets.at("stylesheets/main-small.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <style>


        </style>
        <script>
            var nameList = @Html(nameList);

            $(function () {
                $('.progress').hide();
                $('#get-cousins-button').click(function () {
                    $('.progress').show();
                    $('#get-cousins-button').attr("disabled", "disabled");
                    $('#get-cousins-form').attr('action', $('#action').val());
                    $('#get-cousins-form').submit();
                });

                var names = new Bloodhound({
                    datumTokenizer: function (d) {
                        return Bloodhound.tokenizers.whitespace(d.name);
                    },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    local: nameList
                });

                names.initialize();
                var nameTypeAhead = $('#name');

                nameTypeAhead.typeahead({
                    highlight: true
                }, {
                    name: 'name',
                    displayKey: 'name',
                    source: names.ttAdapter()
                });

                var selectedHandler = function (eventObject, suggestionObject, suggestionDataset) {
                    $('#pid').val(suggestionObject.pid);
                };

                nameTypeAhead.on('typeahead:selected', selectedHandler);
            });

        </script>
    </head>
    <body>
        <div id='header-panel'>
            <span class='header-text'>GenusTree Search</span><img id='header-logo' src="@routes.Assets.at("images/tree.gif")"/>
        </div>
        <div id='main-panel'>
            <div class="progress" >
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <form id='get-cousins-form' action='/getCousins' method='POST'>
                <div class="form-element field-width">
                    Choose what to search for:
                    <select id="action" class="form-control">
                        <option value="/getCousins" selected="selected">Cousins</option>
                        <option value="/getAuntsUncles">Aunts & Uncles</option>
                    </select>
                </div>
                <input type='hidden' name='token' value='@token'/>
                <div class="form-element field-width">
                    FamilySearch ID for starting point (default is you):
                    <input type='text' class="form-control typeahead tt-query" spellcheck="false" id='pid' name='pid' value='@personId'/>
                </div>
                <div class="form-element field-width">
                    Search for a FamilySearch ID using a name:
                    <input type='text' class="form-control typeahead tt-query" autocomplete="off" spellcheck="false" id='name' name='name' value=''/>
                </div>
                <div class="form-element">
                    <input type='button' id='get-cousins-button' class="btn btn-success" value='Search!'/>
                </div>
            </form>
        </div>
        <div id='footer-panel'>
            <div id='footer-text'><a href="/privacyPolicy">Privacy Policy</a><a id='logout-link' href="/">Logout</a></div>
        </div>
    </body>
    @analytics()
</html>
