@(token: String, personId: String)
<form id='nameCloud-form' action='/nameCloud' method='POST'>
    <input type="hidden" name="action" value="/nameCloud"/>
    <input type='hidden' name='token' value='@token'/>
    <input type='hidden' name='pid' value='@personId'/>
    <input type="hidden" name="nameList" id="nameCloud-nameList"/>
    <input type="hidden" name="generations" value="3">
    <div class="form-element field-width">
                        Font:
        <select name="font" class="form-control">
            <option value="Calibri" selected="selected">Calibri</option>
            <option value="Georgia">Georgia</option>
            <option value="Palatino">Palatino</option>
            <option value="Times">Times</option>
            <option value="Arial">Arial</option>
            <option value="Impact">Impact</option>
            <option value="Helvetica">Helvetica</option>
            <option value="Monaco">Monaco</option>
        </select>
    </div>
    <div class="form-element field-width">
                        Color Scheme:
        <select name="colorScheme" class="form-control">
            <option value="1" selected="selected">Random Colors</option>
            <option value="2">Nature Colors</option>
            <option value="3">White on Black</option>
        </select>
    </div>
    <div class="form-element field-width">
        <input type='button' id='nameCloud-button' class="btn btn-success" value='Search!'/>
    </div>
    <br>
</form>
